<% @tasks.each do |task| %>
<p><%= task.name %></p>
<p><%= task.description %></p>
<%= link_to "show the task", task_path(task) %>
<%= link_to "Edit", edit_task_path(task) %>
<%= link_to "delete", task_path(task), method: :delete %>
<% end %>
<p>_______________________</p>
